@media all and (max-width:500px){
   
    h2{
        font-size: 30px;
    }
    .bg-1,
    .bg-2 {
        padding: 10px 10%;
       
      }
      .col{
          float: none;
          width: 96%;
      }
      .header img {
        width: 21%;
     
      }
      .my-work{
          height: auto;
          padding: 30px 0px;
      }

      .my-work .menu {
        margin-left: 0px;
      }

      .my-work .menu ul li{
        float: none;
        width: 100%;
        padding: 5px 5px;


      }
      .photography {
        margin: 80px 0px;
        height: auto;
      
      }
      .subscribe img {
        padding-top: 50px;
        padding-bottom: 50px;
      }
      .subscribe input {
        width: 60%;
        margin-top: 10px;
        
      }
      .subscribe button{
        padding: 6px 55px;
        font-size: 16px;
        margin: 15px 0px;
        width: 64%;
      }

      .footer ul {

        margin-left: 0px;
      
      }
      .footer ul li {
        /* float: left; */
        justify-content:space-around; 
        padding: 10px 10px;
      }
  }

  @media all and (max-width:769px){
    .bg-1,
    .bg-2 {
        padding: 10px 10%;
       
      }

    .header img {
        width: 23%;
     
      }
      .header .para {
        font-size: 18px;
        margin-bottom: 100px;
      }
      .col{
        float: none;
        width: 97%;
    }
    .my-work{
        height: auto;
        padding: 30px 0px;
    }
    .my-work .menu {
        margin-left: 0px;
      }

      .my-work .menu ul li{
        float: none;
        width: 100%;
        padding: 5px 5px;
      }

      .photography {
        margin: 80px 0px;
        height: auto;
      
      }

      /* .footer ul {

        margin-left: 130px;
      
      } */

  }
  @media all and (max-width:1024px){

      .my-work .menu ul li {     
        padding: 5px 5px;
      }
      .my-work .menu ul li a {
        font-size: 16px;
        padding-bottom: 3px;
      }


  }